{% extends "base.html" %}

{% block title %}{{ friend.name }}{% endblock %}

{% block container %}
<div class="row well">
    <div class="col-md-12 text-center">
        <h1>{{ friend.name }}'s Stories</h1>
    </div>
</div>
<div class="row">
    <div class="col=md-12">
        <hr/>
    </div>
</div>
    {% if length!=0 %}
        {% for post in posts %}
        {#    <h1>{{ post.author.key().id() }}</h1>#}
        <div class="panel panel-primary">
            <div class="row panel-heading panel_header">
                <div class="col-md-8 text-left">
                    <a href="{{post.get_perma_link()}}"><h1>{{post.title}}</h1></a>
                </div>
                <div class="col-md-4 text-right">
                    <h5>Author: {{post.get_author_name()}}</h5>
                    <h6>{{post.get_modified_time()}}</h6>
                </div>
            </div>
            <div class="row panel-body">
                <div class="col-md-12 text-left">
                    <p>{{post.get_content(True)|safe}}<a href="{{post.get_perma_link()}}">...</a></p>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        {% endfor %}
    {% endif %}
    {% if length==0 %}
        <h1>{{ friend.name }} doesn't have any callouts</h1>
    {% endif %}
{% endblock %}